<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WheatherForecastView</title>
    <script src="~/JsLib/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/Js/Chart.js"></script>
</head>
<body>
<div id="chart_div">
    <script>
        LoadData();
    </script>
    <h1>Weather chart</h1>
    <canvas id="ChartCanvas"  width="600" height="600" ></canvas>
</div>
</body>
</html>
